/* Styling for Binaural Beats Meditation Tool webpage. */

#effectDisplay {
    font-weight: bold;
    margin-top: 10px;
}

.preset-button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}

.piano {
    display: flex;
    position: relative;
    margin-top: 20px;
    height: 150px;
    padding-left: 10;
}

.key {
    border: 1px solid #000;
    width: 40px;
    height: 150px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 150px;
    font-size: 14px;
    position: relative;
}

#octbtn {
    padding-left: 10px;
    padding-top: 10px;
}

.controls {
    margin-top: 20px;
}

.description {
    margin-top: 20px;
}

#basefrequencyblock {
    border:1px solid black;
    padding-top: 1px;
    margin-bottom: 20px; /* Add bottom margin to create space */
}

#basefrequency {
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#presets {
    padding-left: 5px;
    padding-bottom: 5px;
}

#beatingfreqblock {
    border: 1px solid black;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
}

#playbackcontrols {
    border: 1px solid black;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

#volumeslider {
    padding-top: 10px;
    padding-bottom: 10px;
}

#soundDetails {
    position: relative; /* Keeps it in the document flow */
    z-index: 10; /* Ensures it appears above other elements */
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; /* Background color to differentiate it */
    font-size: 16px;
    line-height: 1.5;
    display: block; /* Ensure it stays visible */
    width: 100%;
}

#freesoundsearch {
    border: 1px solid black;
}

